#my_header {
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
}
#holberton-logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: "images/holberton-logo.png";
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}
